<?php

declare(strict_types=1);

// This will be probably in some secure folder/file in real app, but for showroom we can keep it here

return [
    'engine' => 'pgsql',
    'host' => 'localhost',
    'port' => 1234,
    'dbname' => 'badlogin',
    'user' => 'badlogin_user',
    'password' => 'your_secure_password_here',
];